:root {
	--shadow: rgba(0, 0, 0, 0.33);
	--mask-salade: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="800" height="150" viewBox="0 0 800 150" ><path d="M171 0C55 0-22-9 7 77c26 97 44 2 101 19 58 12 58 72 130 11 91-80 101 96 215-9 73-64 86 101 223-5 57-52 58 77 107 18C828 41 771-1 683 0Z"></path></svg>');
	--mask-cheese: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="800" height="250" viewBox="0 0 800 250" ><path d="M375 0C90 0 30 0 30 45S105 60 195 90C300 105 315 180 360 180S435 105 555 90C705 60 780 90 780 45S705 0 375 0Z"></path></svg>');
	--gap: 5rem;
	--bg-mask: linear-gradient(0deg, transparent, transparent calc(50% - var(--gap)), #000 50%, transparent calc(50% + var(--gap)), transparent 100%);
	font-family: system-ui;
	font-weight: 200;
	text-align: center;
	/* --color-bg: rgba(0, 0, 0, 0.33); */
}
html {
	scroll-timeline: --page-scroll block;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	box-sizing: border-box;
	background-color: var(--color-bg);
	display: grid;
	font-family: system-ui, sans-serif;
	color: var(--color, #fff);
	background: linear-gradient(-180deg, #fcf2db 0%, #ebb47b 100%);
	/* background: linear-gradient(-180deg, #000 0%, #000 100%); */
}
*, :after, :before {
	box-sizing: border-box;
}
h1 {
	font-weight: 400;
}
img, svg {
	max-width: 100%;
	height: auto;
}
.icon {
	fill: var(--icon-color, currentColor);
	width: var(--icon-size);
	display: inline-flex;
	max-width: 100%;
	aspect-ratio: 1;
}
.content {
	overflow: clip;
}
.hamburger__item {
	position: relative;
	animation: slideIn auto linear both;
	animation-timeline: --sticky;
}
.hamburger__item--top-bun {
	color: #f29525;
	background-color: currentColor;
	z-index: 6;
	box-shadow: inset 0px -2.3rem 0 var(--shadow);
	border-radius: 75% 75% 10% 10% / 120% 120% 30% 30%;
	aspect-ratio: 2.380952381;
	animation-range: contain 80% contain 100%;
}
.hamburger__item--top-bun:before, .hamburger__item--top-bun:after {
	content: "";
	color: #feebb1;
	background-color: currentColor;
	position: absolute;
	aspect-ratio: 0.5;
	border-radius: 53%;
	width: 4%;
	left: 33%;
	top: 16%;
	rotate: 45deg;
}
.hamburger__item--top-bun:before {
	left: 66%;
	top: 16%;
	rotate: -45deg;
	box-shadow: -4rem -1rem 0 currentColor;
}
.hamburger__item--salad {
	z-index: 5;
	mask-image: var(--mask-salade);
	mask-size: auto 100%;
	mask-repeat: no-repeat;
	mask-position: center center;
	color: #66ad34;
	background-color: currentColor;
	aspect-ratio: 5.3333333333;
	margin-block: -1.4% -15%;
	box-shadow: inset 0px 2rem 0 var(--shadow);
	animation-range: contain 60% contain 80%;
}
.hamburger__item--tomato {
	z-index: 4;
	color: #e44811;
	background-color: currentColor;
	border-radius: 120% 120% 32% 32% / 75% 73% 60% 60%;
	overflow: hidden;
	aspect-ratio: 5;
	margin-inline: 5%;
	margin-bottom: -4%;
	animation-range: contain 40% contain 60%;
}
.hamburger__item--tomato:after {
	content: "";
	background-color: var(--shadow);
	position: absolute;
	inset: 0 0 50%;
	border-radius: 40%;
}
.hamburger__item--cheese {
	z-index: 3;
	color: #fabe1e;
	background-color: currentColor;
	aspect-ratio: 3.2;
	mask-image: var(--mask-cheese);
	mask-size: auto 100%;
	mask-repeat: no-repeat;
	mask-position: center center;
	margin-bottom: -28%;
	animation-range: contain 20% contain 40%;
}
.hamburger__item--patty {
	z-index: 2;
	overflow: clip;
	color: #6b3310;
	background-color: currentColor;
	border-radius: 120% 120% 32% 32% / 75% 73% 60% 60%;
	aspect-ratio: 4.1666666667;
	margin-bottom: -8%;
	animation-range: contain 0% contain 20%;
}
.hamburger__item--patty:after {
	content: "";
	background-color: var(--shadow);
	position: absolute;
	inset: 0 0 50%;
	border-radius: 40%;
}
.hamburger__item--bottom-bun {
	color: #f29525;
	background-color: currentColor;
	z-index: 1;
	border-radius: 200% 200% 60% 60% / 75% 75% 220% 220%;
	aspect-ratio: 4.5454545455;
	animation: none;
}
.hamburger__item--bottom-bun:after {
	content: "";
	background-color: var(--shadow);
	position: absolute;
	inset: 0 0 50%;
	border-radius: 40%;
}
.center {
	min-height: 100vh;
	display: grid;
	align-items: center;
}
.container {
	padding: 0 2rem;
	margin-inline: auto;
	max-width: 30rem;
	width: 100%;
}
.sticky-section {
	overflow: clip;
	height: 400vh;
	position: relative;
	view-timeline-name: --sticky;
}
.sticky-section__stack {
	position: sticky;
	top: 0;
}
.sticky-section__stack--text {
	display: none;
	z-index: 1;
	mix-blend-mode: overlay;
}
.aside {
	z-index: 30;
	position: relative;
	line-height: 1;
	mix-blend-mode: multiply;
	height: 400vh;
	display: grid;
	font-size: 2rem;
	font-size: clamp(1rem, 8vw, 6rem);
	width: 200%;
	text-align: left;
	white-space: nowrap;
}
.aside__section {
	animation: fadeIn auto linear both;
	animation-timeline: --sticky;
}
.aside__section:nth-child(1) {
	animation-range: contain -10% contain 10%;
}
.aside__section:nth-child(2) {
	animation-range: contain 0% contain 30%;
}
.aside__section:nth-child(3) {
	animation-range: contain 10% contain 50%;
}
.aside__section:nth-child(4) {
	animation-range: contain 30% contain 70%;
}
.aside__section:nth-child(5) {
	animation-range: contain 50% contain 90%;
}
.aside__section:nth-child(6) {
	animation-range: contain 70% contain 130%;
}
.aside__text {
	position: sticky;
	top: 50vh;
	margin: 0;
}
.visually-hidden {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
@media (width >= 62em) {
	.sticky-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		align-items: start;
   }
	.sticky-section__stack--text {
		display: block;
   }
}
.hidden {
	display: none;
}
@keyframes slideIn {
	from {
		transform: translateY(-80vh);
   }
}
@keyframes fadeIn {
	0%, 100% {
		opacity: 0;
   }
	10%, 90% {
		opacity: 1;
   }
}
.fab {
	--icon-size: 5.5rem;
	z-index: 1;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	color: var(--color-black);
	appearance: none;
	border: none;
	color: currentColor;
}
.fab__icon {
	display: block;
}
.fab__arrow {
	animation: rot auto linear;
	animation-timeline: --page-scroll;
	transform-origin: 100px 100px;
}
.fab__progress {
	animation: progress auto linear;
	animation-timeline: --page-scroll;
	stroke-dasharray: 628.32, 628.32;
}
.sun {
	/* mask-image: radial-gradient(circle, black 33%, transparent 66%); */
	/* position: fixed;
	inset: 0; */
}
.sun:after {
	content: "";
	opacity: 0.9;
	animation: spin 55s linear infinite;
	background: repeating-conic-gradient(#facc15 8c 0deg 7deg, transparent 7deg 30deg);
	background-position: center center;
	display: block;
	position: absolute;
	inset: -50%;
}
@keyframes progress {
	from {
		stroke-dashoffset: 628.32;
   }
	to {
		stroke-dashoffset: 0;
   }
}
@keyframes rot {
	from {
		opacity: 0.2;
		rotate: 180deg;
   }
}
@keyframes spin {
	to {
		rotate: 360deg;
   }
}
