h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

body {
    font-family: Inter, sans-serif;
}

.main-content .content-wrapper {
    padding: 0 5px 0 5px;
}

.container-fluid > .title {
    font-size: 1.8em;
    color: #625f6e;
    margin-left: 5px;
    margin-bottom: 0.5em;
}

.sidebar-header {
    padding: 15px 15px;
}
